<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>one2many.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>468B2FAD1C6D9C440047E131</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>468B2FC11C6D9C440047E131</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>468B2FCC1C6D9C440047E131</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
